:root {
  --main--font: "PT Sans", sans-serif;
}

body {
  font-family: var(--main--font);
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.scroll {
  position: fixed;
  right: 7%;
  bottom: 2%;
  z-index: 1;
}

.header {
  width: 100vw;
  height: 4.1em;
  background: #243b93;
  position: sticky;
  top: 0;
  z-index: 1;
}

.conteiner-header {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteiner-header>a:first-child {
  display:contents 
}

.logo {
  height: 77%;
  border-radius: 167px;
  margin: auto 2.5% auto 0;
}

.navigation {
  width: 95%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.header-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto 0 auto 2.5%;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  color: #ffffff;
}

main {
  width: 100vw;
}

.reserve {
  background-color: #fbe4ff;
}

.reserve-title {
  background-color: #bff0ff;
  height: 1.93em;
  margin: 0;
  padding: 0 15%;
  font-style: italic;
  font-weight: 400;
  font-size: 2.75rem;
  display: flex;
  align-items: center;
  color: #202846;
}

.filter {
  width: 70%;
  height: 3.6em;
  background: #ffffff;
  margin: 1.6% auto 1.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filter-text {
  font-weight: 400;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.61);
}

.filter-pointer {
  position: absolute;
  top: 29.5%;
  left: 96.5%;
}

.reserve-list {
  list-style: none;
  margin: 0 auto;
  padding: 0 0 0.1% 0;
  width: 70%;
}

.reserve-item {
  background: linear-gradient(87.05deg, #a9cbd6 0%, #01afe6 100%);
  position: relative;
  margin-bottom: 3.6%;
  display: flex;
  align-items: center;
}

.reserve-item:hover {
  box-shadow: 0px 0px 60px 4px #2cbdeb;
}

.reserve-item:hover .reserve-item-link {
  background: #ef075b;
}

.reserve-item:hover path {
  fill: #fff500;
}

.reserve-item-img {
  width: 38.914%;
  height: 82.12%;
  margin: 2.8% 2.6% 1.8% 4.5%;
}

.reserve-item-title {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25rem;
  color: #353c57;
  border-bottom: solid 3px #ffffff;
  margin: 0.5rem 3.3rem 0 0;
}

.reserve-item-text {
  margin: 1rem 3.3rem 1.31rem 0;
  background-color: #fff;
  height: 12.2rem;
  padding: 1.6% 18.7% 0 2.6%;
  overflow: auto;
}

.reserve-item-pic {
  position: absolute;
  top: 2%;
  right: 0.5%;
}

.reserve-item-link {
  width: 18%;
  height: 15%;
  background: #243b93;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 30px;
  position: absolute;
  top: 82%;
  left: 84.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.office {
  background-color: #fbe4ff;
  text-align: center;
}

.office-title {
  height: 1.94em;
  margin: 0;
  padding-left: 15%;
  background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
  font-style: italic;
  font-weight: 400;
  font-size: 2.75rem;
  display: flex;
  align-items: center;
  color: #243b93;
}

.office-box {
  width: 70%;
  display: flex;
  margin: 2.2% auto 0;
  background: linear-gradient(
    180deg,
    #859eff 0%,
    rgba(105, 255, 210, 0.5) 100%
  );
}

.office-user {
  margin: 6.6% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-control {
  height: 3rem;
  width: 15.6rem;
  background: #243b93;
  border-radius: 30px;
  margin-top: 14%;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.user-control:hover,
.office-btn:hover {
  background: #ef075b;
}

.office-list {
  list-style: none;
  padding-left: 0.3%;
  margin: 3.5% 3% 3.5% 0;
  width: inherit;
  text-align: left;
  overflow: auto;
}

.office-item {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25rem;
  color: #353c57;
  padding: 2.5% 0 2.5% 0;
}

.office-item-inner {
  font-weight: 400;
}

.line {
  border-bottom: 3px solid #ffffff;
}

.office-btn {
  width: 7.3em;
  height: 2.1em;
  margin: 1.2% auto 3.4%;
  background-color: #243b93;
  border-radius: 30px;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.contacts {
  background-color: #fbe4ff;
}

.contacts-title {
  margin: 0;
  padding-left: 15%;
  height: 1.94em;
  background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
  font-style: italic;
  font-weight: 400;
  font-size: 2.75rem;
  display: flex;
  align-items: center;
  color: #243b93;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 1.5% 15% 0 15%;
  display: flex;
  justify-content: space-between;
}

.contacts-item,
.contacts-item > a {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  margin: 0;
}

.contacts-item > a {
  border-top: 3px solid #202846;
  margin-bottom: 5%;
  display: inline-block;
}

.contacts-item > p {
  margin: 0;
  padding-bottom: 1%;
}

iframe {
  border: 3px solid #243b93;
  border-radius: 10%;
  margin-bottom: 4%;
}

footer {
  width: 100vw;
  height: 4em;
  background: #243b93;
  display: flex;
  align-items: center;
}

footer p {
  margin: 0 15%;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.16em;
  color: #ffffff;
}
