:root {
  --text-color-primery: #ffffff;
  --text-color-secondary: #ffb742;
  --font-family-hero: "Inter", sans-serif;
  --font-family-title: "Roboto", sans-serif;
  --font-famaly-foot: "Work Sans", sans-serif;
  --font-family-primary: "Poppins", sans-serif;
  font-size: 10px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  color: var(--text-color-primery);
}

body {
  margin: 0;
}

.wrapper {
  background-color: #212529;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3% 6.5%;
  padding-top: 1%;
}

.logo-img {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 27.5%;
}

.nav a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--text-color-primery);
}

.nav a:hover,
.nav a:focus {
  color: var(--text-color-secondary);
}

.hire-link {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #212529;
  background: var(--text-color-secondary);
  border-radius: 50px;
  padding: 1.2rem 2.6rem;
}

.hero {
  margin: 0 auto 13.3%;
  text-align: center;
}

.hero-title {
  margin: 0;
  font-family: var(--font-family-hero);
  font-size: 4.8rem;
  line-height: 1.9;
  text-transform: capitalize;
}

.title-first-line {
  font-size: 3.2rem;
  line-height: 1.6;
}

.title-name {
  text-decoration-line: underline;
  color: var(--text-color-secondary);
}

.title-hand {
  color: var(--text-color-secondary);
}

.hero-text {
  font-family: var(--font-family-hero);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2;
  text-transform: capitalize;
  margin: 1.5% auto 1.3%;
}

.hero>img {
  width: 12.6%;
}

.hero-list {
  display: flex;
  justify-content: space-between;
  margin: 8.2% 4.4% 0;
}

.hero-item {
  width: 28%;
  font-family: var(--font-family-hero);
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  background: rgba(56, 62, 69, 0.44);
  border-radius: 10px;
  padding: 1.7% 2%;
  cursor: pointer;
}

.hero-item:hover {
  background: linear-gradient(94.3deg,
      #ffb742 0%,
      rgba(255, 123, 66, 0.76) 99.33%);
}

.hero-item>div>p:first-child {
  color: var(--text-color-secondary);
  font-size: 3.2rem;
  line-height: 1.25;
  margin: 0;
}

.hero-item>div>p:last-child {
  font-size: 1.6rem;
  line-height: 1.9;
  margin: 0;
}

.hero-item:hover>div>p {
  color: #212529;
}

.about {
  display: flex;
}

.about>img {
  width: 38%;
  padding-top: 2%;
}

.section-anchor {
  width: fit-content;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--text-color-secondary);
  padding: 0.6rem 2.5rem;
  margin: 0;
}

.about-title {
  font-family: var(--font-family-title);
  font-size: 4.8rem;
  line-height: 0.62;
  margin: 1% 0 0 1%;
}

.about-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #d5d5d5;
  margin: 2.9% 18% 5.3% 1%;
  overflow: auto;
}

.about a {
  display: inline-block;
  padding: 1.45rem 3.9rem;
  margin-left: 1%;
}

.skills {
  width: 89%;
  margin: 0.6% auto 8.2%;
  display: flex;
  justify-content: space-between;
}

.skills>div:first-child {
  width: 55%;
}

.skills-title {
  width: 69%;
  font-family: var(--font-family-title);
  font-size: 4.8rem;
  line-height: 1.2;
  margin: 0 auto 3.4% 1.2%;
}

.skills-text {
  width: 81%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9;
  margin: 0 auto 7.4% 1.2%;
}

.skills a {
  display: inline-block;
  padding: 1.45rem 3.9rem;
  margin-left: 1.2%;
}

.skills-box {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.skills-list {
  display: flex;
  justify-content: flex-end;
}

.skills-item {
  width: 8em;
  height: 8em;
  background: #383E45;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.3% 2.3% 0;
}

.skills-item:hover {
  background: rgba(255, 183, 66, 0.5);
  border-radius: 10px;
}

.works {
  width: 87.6%;
  margin: 0 auto 8.2%;
  text-align: center;
}

.works>p:first-child {
  margin: 0 auto 0;
}

.works-title {
  font-family: var(--font-family-title);
  font-size: 4.8rem;
  line-height: 1.2;
  margin: 0 auto 2.1%;
}

.works-nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3.3%;
}

.works-filter {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9;
  padding: 1% 3.1%;
}

.works-filter:hover {
  background: #FFB742;
  border-radius: 3px;
  color: #212529;
  cursor: pointer;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-item {
  width: 32%;
}

.works-img {
  border: 0.2439px solid #000000;
  border-radius: 5.2735px;
  width: 100%;
}

.works-item>img:first-child {
  margin-bottom: 6%;
}

.customer {
  text-align: center;
  margin-bottom: 15.2%;
}

.customer>p {
  margin: auto;
}

.customer-title {
  font-family: var(--font-family-title);
  font-size: 3.9rem;
  line-height: 1.2;
  text-transform: capitalize;
  margin: .5% auto 5.4%;
}

.customer-list {
  width: 74%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  overflow: auto;
}

.customer-item {
  width: 30%;
}

.customer-item img {
  border-radius: 7.92699px;
  width: 100%;
}

footer {
  background: #1C1C1C;
  padding-top: 8.9%;
  font-family: var(--font-famaly-foot);
}

.foot-list {
  width: 94%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.foot-name {
  font-family: var(--font-family-primary);
  font-size: 3.2rem;
  line-height: 1;
  color: var(--text-color-secondary);
  margin: 0;
}

.foot-text {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2;
  color: #D4D4D4;
  margin: 9.5% auto 60.4%;
  ;
}

.foot-title {
  font-size: 2.16rem;
  line-height: 1.48;
  margin: 0;
}


.foot-subitem>a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2;
  color: #7B7B7B;
}

.foot-item:last-child {
  width: 22%;
}

.foot-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2;
  color: #7B7B7B;
}