body {
    margin: 0;
}

.hero {
    width: 100%;
    height: 700px;
    background-image: url(../images/beach.png), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-size: 50%, 100%;
    background-position: center 29%, 100%;
}

.card > p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    line-height: calc(48/40);
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 112px;
}

.card > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.card-list {
    width: 400px;
    height: 450px;
    background-color: #231B0C;
    margin: 0;
}

.card1 {
    background-image: url(../images/imgcard1.jpg), url(../images/card1.png);
    background-size: 300px 210px, 173px 60px;
    background-repeat: no-repeat;
    background-position: center 184px, center 37px;
}

.card2 {
    background-image: url(../images/imgcard2.jpg), url(../images/card2.png);
    background-size: 300px 210px, 173px 60px;
    background-repeat: no-repeat;
    background-position: center 184px, center 37px;
}
.card3 {
    background-image: url(../images/imgcard3.jpg), url(../images/card3.png);
    background-size: 300px 210px, 173px 60px;
    background-repeat: no-repeat;
    background-position: center 184px, center 37px;
}

.venice {
    background-image: url(../images/imgvenice.jpg);
    width: 1276px;
    height: 595px;
    margin: 42px auto;
}

footer {
    background: #150F02;
    height: 279px;
    text-align: center;
    background-image: url(../images/foot1.png), url(../images/foot2.png), url(../images/foot3.png), url(../images/foot4.png);
    background-repeat: no-repeat;
    background-position: 31% 40px, 31% 90px, 65% 40px, 65% 90px;
}

footer > p {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 137.21%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 6px;
    padding-top: 128px;
}

.contact {
    margin:20px 16px;
}