body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

input {
  padding: 3px;
}

.link {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(112.23deg, #3e718e 0%, #64969b 100%);
  padding-top: 9%;
}

.box {
  background: #ffffff;
  width: 70%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.left-side {
  width: 55%;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  background: linear-gradient(93.38deg, #496f74 -3.47%, #6e9195 35.61%, #2d4f61 84.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2%;
  margin-left: 5%;
}

.title {
  margin: 10% auto 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: #000000;
}

.form-box {
  width: 70%;
  margin: auto;
}

.form-box > div > label {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  display: block;
}

.form-box > div > input {
  margin-bottom: 2.5%;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.3;
  color: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
}

.form-box > div:nth-child(4) > input {
  margin-bottom: 0;
}

.form-box p {
  margin: 0;
  font-size: 10px;
  line-height: 1.6;
  color: #a8a8a8;
}

.form-box p:first-of-type {
  margin-top: 0.5%;
}

.form-box > div:last-of-type {
  margin-top: 1.5%;
  margin-bottom: 14%;
}

button {
  display: block;
  width: 100%;
  background: #27485d;
  border: 1px solid #284a5e;
  box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 2.5%;
  cursor: pointer;
}

.left-side > p {
  width: 70%;
  margin: 0 auto 5.6%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #c4c4c4;
}

.left-side > p a {
  text-decoration-line: underline;
  color: #476d73;
}

.right-side {
  background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
  box-shadow: 0px 0px 10px 9px #4e7577;
  width: 50%;
  margin: 0.4%;
}

.right-side > ul {
  margin: 1.2% 1.9% 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.right-side li {
  margin-left: 3%;
}

.right-side-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.right-side p {
  width: 48%;
  margin: 20% auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.right-side p > q {
  width: 60%;
  margin: 20% auto 0;
  font-size: 48px;
  line-height: 1.25;
  opacity: 0.8;
}
