body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.57;
    color: #000000;
    background: #F5F5F5;
}

.link {
    text-decoration: none;
}

header {
    text-align: center;
}

.logo {
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: calc(70/48);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.logo-yellow {
    color: #E8C23E;
}

.hero{
    background-image: url(../image/foun.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    background-size: cover;
    max-width: 1700px;
}

.hero-img {
    margin-left: 80px;
    margin-top: 15%;
}

.hero-title {
    color: #fff;
    display: inline-block;
    font-size: 48px;
    text-transform: uppercase;
}

.places-img-flag {
    width: 90%;
}

.places-title {
    margin-left: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.places-list {
    text-align: center;
    list-style: none;
}

.card {
    width: 391px;
    height: 481px;
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    border-radius: 30px;
    border: 5px solid #0D095F;
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card > img {
    border-radius: 30px;
}

.places-list h3 {
    font-size: 24px;
    color: #0072DB;
}

.places-list p {
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
}

.winner {
    text-align: center;
}

.winner-title { 
    text-transform: uppercase;
    margin-bottom: 0;
}

.winner-line {
    width: 80%;
    margin-bottom: 32px;
}

.winner-link {
    font-size: 64px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    background: #2A61F0;
    border-radius: 50px;
    margin: 23px auto 36px;
    width: 499px;
    height: 81px;
    padding-bottom: 18px;
    box-sizing: content-box;
}

footer {
    text-align: center;
    background-color: #0D095F;
}

address {
    text-align: center;
    font-family: 'Marcellus SC', serif;
}

footer ul {
    list-style: none;
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    color: #A89D9D;
}

.address-link {
    color: #A89D9D;
}

